# ===================================================================
# SOCIAL
# ===================================================================
SOCIAL_LINKEDIN_URL=https://linkedin.com/in/janedoe
SOCIAL_GITHUB_URL=https://github.com/janedoe
SOCIAL_EMAIL=jane.doe@example.com
