# ===================================================================
# SOCIAL
# ===================================================================
SOCIAL_LINKEDIN_URL=https://linkedin.com/in/janedoe
SOCIAL_GITHUB_URL=https://github.com/janedoe
SOCIAL_INSTAGRAM_URL=https://www.instagram.com/janedoe/
SOCIAL_EMAIL=jane.doe@example.com

# ===================================================================
# LAST.FM
# ===================================================================
LASTFM_API_KEY=
LASTFM_USERNAME=
