# AGENTS
AGENTS.md
CLAUDE.md
.serena/
.design-sync/
ds-bundle/
.claude/

# DEPENDENCIES
/node_modules

# NEXT.JS
/.next/
/out/

# ENV
.env*

# VERCEL
.vercel

# MISC
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
