# AGENTS
AGENTS.md
CLAUDE.md
.serena/
.claude/
.superpowers/
.codegraph/

# DESIGN-SYNC
.ds-sync/
ds-bundle/
.design-sync/.cache/
.design-sync/learnings/
.design-sync/node_modules

# DEPENDENCIES
/node_modules

# NEXT.JS
/.next/
/out/

# ENV
.env*
!.env.example

# VERCEL
.vercel

# MISC
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
